	<!doctype html>
	<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Table-things</title>

		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">



	</head>
	<body>
		<div data-container="main">
			<script type="text/template" id="main">
				<input type="text"> <button data-button="add">Add</button>
				<ul></ul>
			</script>
			<script type="text/template" id="item">
				a név : <%= name %> <button data-button="set">set</button> <button data-button="delete">delete</button>
			</script>
		</div>



		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js" type="text/javascript"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script src="main3.js"></script>
	</body>
	</html>