	<!doctype html>
	<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Collection</title>

	</head>
	<body>
	    <div data-container="main">
			<script data-view="add" type="text/template">
				<input data-input="add"> <button data-button="add">add</button>
			</script>
			<script data-view="item" type="text/template">
				A név: <%= name %>
				<button data-button="set" data-id=<%=id %> >set</button>
				<button data-button="delete" data-id=<%=id %> >delete</button>
			</script>
	    </div>



		<script src="jquery.js" ></script>
		<script src="underscore.js"></script>
		<script src="backbone.js"></script>
		<script src="main.js"></script>
	</body>
	</html>