	<!doctype html>
	<html lang="en">
		<head>
			<meta charset="utf-8">
			<title>Tutplus</title>
			<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.1/css/bootstrap.min.css">
		</head>
		<body>
		    <h3>My Tasks</h3>
			<form id="addTask">
				<input type="text" placeholder="new task" data-input="add-task">
				<button type="button" data-button="add-task">add</button>
			</form>
			<div class="tasks">
				<script id="taskTemplate" type="text/template">
					<span><%= title %></span> <button class="edit">Edit</button> <button class="delete">Delete </button>
				</script>
			</div>



			<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
			<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js" type="text/javascript"></script>
			<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
			<script src="main.js"></script>
		</body>
	</html>